[submodule "qjs-minnet"]
	path = qjs-minnet
	url = git@github.com:rsenn/minnet-quickjs.git
	branch = main
[submodule "qjs-modules"]
	path = qjs-modules
	url = git@github.com:rsenn/qjs-modules.git
	branch = main
[submodule "quickjs-glfw"]
	path = qjs-glfw
	url = git@github.com:rsenn/qjs-glfw.git
	branch = main
[submodule "quickjs-nanovg"]
	path = qjs-nanovg
	url = git@github.com:rsenn/qjs-nanovg.git
	branch = main
