[submodule "qjs-glfw"]
	path = qjs-glfw
	url = https://github.com/rsenn/qjs-glfw.git
	branch = master
[submodule "qjs-nanovg"]
	path = qjs-nanovg
	url = https://github.com/rsenn/nanovg-qjs.git
	branch = master
[submodule "qjs-minnet"]
	path = qjs-minnet
	url = git@github.com:rsenn/minnet-quickjs.git
	branch = main
[submodule "qjs-ffi"]
	path = qjs-ffi
	url = git@github.com:rsenn/qjs-ffi.git
	branch = main
[submodule "qjs-modules"]
	path = qjs-modules
	url = git@github.com:rsenn/qjs-modules.git
	branch = main
